allNewResults.txt
allOldResults.txt
tests/old_calc_engine/CONVERGE.LOG
tests/comparison.txt
tests/01_pre_wit_test_1_r/ResultsOut_new.tmp
tests/01_pre_wit_test_1_r/ResultsOut_old.tmp
tests/02_pre_wit_test_3_r/ResultsOut_new.tmp
tests/02_pre_wit_test_3_r/ResultsOut_old.tmp
tests/03_pre_wit_test_7_r/ResultsOut_new.tmp
tests/03_pre_wit_test_7_r/ResultsOut_old.tmp
tests/04_wit_1_as_built/ResultsOut_new.tmp
tests/04_wit_1_as_built/ResultsOut_old.tmp
tests/05_wit_2_as_built/ResultsOut_new.tmp
tests/05_wit_2_as_built/ResultsOut_old.tmp
tests/06_wit_3_design_rev_4/ResultsOut_new.tmp
tests/06_wit_3_design_rev_4/ResultsOut_old.tmp
tests/07_wit_4_unbalanced_as_built/ResultsOut_new.tmp
tests/07_wit_4_unbalanced_as_built/ResultsOut_old.tmp
tests/08_complex_system/ResultsOut_new.tmp
tests/08_complex_system/ResultsOut_old.tmp
tests/08_complex_system/TEMPINPUT.TMP
tests/new_calc_engine/70barSapphire.bak
tests/new_calc_engine/CONVERGE.LOG
*.pyc
